<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Welcome to the House of yay!</p>
        <p>Home of soulful, funky, disco house grooves.</p>
      </div>
    </div>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-justify">
        <p>djrobyay is a rising star in the house music scene, hailing from Las Vegas with a passion for creating funky, soulful, and disco-infused mixes.</p>

        <p>rob was introduced to house music in 1996 at Junior Vasquez&#x27;s legendary Tunnel events in New York City. The infectious energy of the scene left a lasting impression, and he continued to explore the underground desert party scene in Southern California.</p>

        <p>Drawing inspiration from the likes of Mark Farina, Joe D&#x27;Espinosa, and Dylan Drazen, rob has been honing his new craft in private and for friends. Now, he&#x27;s ready to take his talents to the next level, seeking opportunities to spin publicly in LGBT-friendly spaces. His sets are characterized by their high-energy, feel-good vibes.</p>

        <p>With a deep love for the genre and a dedication to his craft, this new comer is poised to make a big impact on the house music scene. Keep an eye out for djrobyay as he brings his unique sound to a club or festival near you!</p>

      </div>
    </div>
  </div>
</section>
