<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Welcome to the House of yay!</p>
        <p>Home of soulful, funky, disco house grooves.</p>
      </div>
    </div>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-justify">
        {% for about in site.about %}
        <p>{{ about.line }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
