<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="sets-modal modal fade" id="setsModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.img %}
            <img src="img/sets/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% else %}
            <img src="img/sets/gobi.jpeg" class="img-responsive img-centered" alt="star tracks over Mongolia's Gobi Desert">
            {% endif %}
            {% if post.description %}
            {% for description in post.description %}
            <p align='justify'>{{ description.line }}</p>
            {% endfor %}
            <hr class="star-primary">
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.mixcloud %}
              <iframe width="100%" height="60" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2F{{ site.mixclouduser }}%2F{{ post.mixcloud }}%2F" frameborder="0" ></iframe>
              <a href="https://www.mixcloud.com/{{ site.mixclouduser }}/{{ post.mixcloud }}/" class="btn btn-default">
                <i class="fa-brands fa-mixcloud"></i> Listen now on mixcloud.com!<br>
              </a>
              <hr class="star-primary">
              {% endif %}
              {% if post.housemixes %}
              <iframe width='100%' height='120'; src='https://www.house-mixes.com/widget/iframe?feed=S%3A{{ site.housemixesuser }}%3A{{ post.housemixes }}' frameborder='0'></iframe>
              <a href="https://www.house-mixes.com/profile/{{ site.housemixesuser }}/{{ post.housemixes }}" class="btn btn-default">
                <i class="fa-solid fa-house"></i> Listen <b>& download</b> now on House-Mixes.com!
              </a>
              <hr class="star-primary">
              {% endif %}
            </ul>
            {% if post.tracks and post.tracks != empty %}
            <h3>Track List:</h3>
            <table align=center>
              <tr>
                <th>#</th>
                <th>Artist Name</th>
                <th>Track Title</th>
              </tr>
            {% for track in post.tracks %}
              <tr>
                <td>{{ track.number }}</td>
                <td>{{ track.artist }}</td>
                <td>{{ track.title }}</td>
              </tr>
            {% endfor %}
            </table>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
