<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.img %}
            <img src="img/sets/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% else %}
            <img src="img/sets/gobi.jpeg" class="img-responsive img-centered" alt="star tracks over Mongolia's Gobi Desert">
            {% endif %}
            {% if post.description %}
            {% for description in post.description %}
            <p align='justify'>{{ description.line }}</p>
            {% endfor %}
            <hr class="star-primary">
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.mixcloudurl %}
              <a href="{{ post.mixcloudurl }}" class="btn btn-default">
                <i class="fa-brands fa-mixcloud"></i> Listen now on mixcloud.com!<br>
              </a>
              {% endif %}
              {% if post.houseurl %}
              <a href="{{ post.houseurl }}" class="btn btn-default">
                <i class="fa-solid fa-house"></i> Listen AND DOWNLOAD now on House-Mixes.com!
              </a>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
