.<!-- Portfolio Grid Section -->
<section id="sets">
  <div class="container sets-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sets</h2>
        <hr class="star-primary">
        <span class="listenhere">Listen to all sets in order on Mixcloud:</span><br>
        <iframe width="50%" height="60" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fdjrobyay%2Fplaylists%2Fallsetscontinuously%2F" frameborder="0" ></iframe>
        <hr class="star-primary">
      </div>
    </div>
    <div class="sets-flex-row">
      {% for post in site.posts %}
      <div class="sets-flex-item sets-item" style="background-image:url({{ site.github.url }}//img/blank.png)">
        <a href="#setsModal-{{ post.modal-id }}" class="sets-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          {% if post.img %}
          <img src="img/sets/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          {% else %}
          <img src="img/sets/gobi.jpeg" class="img-responsive" alt="star tracks over Mongolia's Gobi Desert">
          {% endif %}
        </a>
        <h3><span>{{ post.title }}</span></h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
